
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.pyc



env/

*.egg-info/
*.egg


.env
.env.*

*.log
*.sqlite3
*.db
*.db-journal


.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.bak


*.pem
*.key
*.crt
