Django
djangorestframework
djangorestframework-simplejwt
django-allauth
django-cors-headers
django-storages

psycopg2-binary
gunicorn

boto3
firebase_admin

python-dotenv
requests
Pillow
qrcode
pyotp

drf-spectacular

celery
redis
django-celery-beat

pip install 
django-storages[boto3] 

