fastapi
uvicorn
chromadb>=0.6.0
google-genai
openai
pymongo
python-dotenv
pymupdf
python-multipart
redis
celery
scikit-learn
groq
pydantic
langchain 
numpy 
langchain
langchain-community
langchain-groq
langgraph
langchain-google-genai

google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
langgraph

cloudinary

